@page
@model PageRazor.Pages.NuevoModel

<!--
   * <form action="" method="post">
   * OnPost() dentro del model
   * Cada <input> DEBE tener el atributo 'name'
-->

<form action="" method="post">
    <table class="table">
        <tbody class="table-group-divider">
            <tr>
                <td>
                    Id
                    <input type="text" name="Id" />
                </td>
            </tr>
            <tr>
                <td>
                    Date
                    <input type="date" name="Fecha" />
                </td>

            </tr>
            <tr>
                <td>
                    Price $
                    <input type="number" name="Precio" />
                </td>

            </tr>
            <tr>
                <td>
                    Amount
                    <input type="number" name="Cantidad" />
                </td>

            </tr>
            <tr>
                <td>
                    Name
                    <input type="text" name="Nombre"  />
                </td>

            </tr>
            <tr>
                <td>
                    Description
                    <input type="text" name="Descripcion"/>
                </td>

            </tr>
            <tr>
                <td>
                    Seller
                    <input type="text" name="Vendedor"  />
                </td>

            </tr>
        </tbody>
    </table>
    <button class="btn btn-success">Send</button>
</form>
